<div class="navbar">
    <div class='logo-container'>
        <a class='logo' href="/blog"> Fairy's Wand</a>
    </div>
    {{!-- use icon for edit/single/add pages --}}
    <span class="material-icons">
        <a class='icons' href="/blog">home</a>
    </span>
</div>

<h1>All Blogs</h1>

<a href="/blog/new">
    <button>Create Post</button>
</a>
<br>

{{#each allBlogs}}

<a href="/blog/{{_id}}">
    <button>See Blog</button>
</a>

<div>Title</div>
<div>{{title}}</div>
<br>

<div>Author</div>
<div>{{author}}</div>
<br>

<div>Date</div>
<div>{{date}}</div>
<br>


<div>Post</div>
<div>{{post}}</div>
<br>

<hr>
{{/each}}


{{!-- SEE BLOG BUTTON WORKS --}}
{{!-- ALL BLOGS TEMPLATE WORKS --}}