<div class="navbar">
    <div class='logo-container'>
        <a class='logo' href="/blog"> Fairy's Wand</a>
    </div>
    {{!-- use icon for edit/single/add pages --}}
    <span class="material-icons">
        <a class='icons' href="/blog">home</a>
    </span>
</div>

   <div class="hero-image-blog">
        <div class="hero-text-blog">
            <div class="blog-header">Fairy's Wand Blog</div>
        </div>
    </div>

<a href="/blog/new">
    <button class="blog-create-button">Create Post</button>
</a>

<div class="blog-container">
    
    <div class="blog-wrapper">
        {{#each allBlogs}}
        <div class="blog-content">
            <img src="{{image}}" alt="">
            <a class="mainpage-link" href="/vendor/{{_id}}">

                <div class="blog-title">
                    <div>{{title}}</div>
                </div>

                <div class="blog-author">
                    <div class="blog-by-item">by</div>
                    <div>{{author}}</div>
                </div>

            </a>
            <div class="blog-date-item">{{date}}</div>

            <a href="/blog/{{_id}}">
                <div class="blog-button-container">
                    <button class="blog-button">See Blog</button>
                </div>
            </a>

        </div>


        {{/each}}
    </div>
</div>




<footer>
    <div class='footer-container'>
        <div class="footer-item">Created by: <br> Annie T. Bellefleur</div>
        <div class="social-container">
            <a href="https://www.linkedin.com/in/annie-t-bellefleur-04a696a7/">
                <img src="linkedIn.png" alt="">
            </a>
            <a href="https://twitter.com/AfiaTheLegend">
                <img src="twitter.png" alt="">
            </a>
            <a href="https://www.instagram.com/browneyed_royalty/">
                <img src="instagram.png" alt="">
            </a>
        </div>
    </div>
</footer>

{{!-- SEE BLOG BUTTON WORKS --}}
{{!-- ALL BLOGS TEMPLATE WORKS --}}