<div class="navbar">
    <div class='logo-container'>
        <a class='logo' href="/blog"> Fairy's Wand</a>
    </div>
    {{!-- use icon for edit/single/add pages --}}
    <span class="material-icons">
        <a class='icons' href="/blog">home</a>
    </span>
</div>


<a href="/blog/{{singleBlog._id}}/edit">
    <div class='edit-delete-button'>
        <button class='button'>Edit Venue</button>
    </div>
</a>

<form action="/blog/{{singleBlog._id}}?_method=DELETE" method="POST">
    <div class='edit-delete-button'>
        <input class="button" type="submit" value="Delete Review" />
    </div>
</form>



{{!-- <a href="/blog"> --}}

<div class="single-blog-wrapper">
    <div class="single-blog-title">{{singleBlog.title}}</div>
    <br>

    <div class="single-blog-author">{{singleBlog.author}}</div>
    <br>

    <div>{{singleBlog.date}}</div>
    <br>
</div>

<div class="single-blog-post">
    <img class='single-blog-image' src="{{singleBlog.image}}" alt="">
    <div class="single-blog-item">{{singleBlog.post}}</div>
</div>


{{!-- DELETE BUTTON WORKS --}}
{{!-- EDIT BUTTON WORKS --}}
{{!-- HOME BUTTON WORKS --}}
{{!-- WORKS --}}

{{!-- -------------------------------------------------------- --}}
{{!-- CREATE REVIEW FIELD --}}


<form action="/review" method="POST">
    <div class="add-review-form">

        <input type="hidden" value="{{singleBlog._id}}" name="blogId" />

        <h1>Add A Comment</h1>

        <div class="add-review-form-date">
            <label>Date</label>
            <input class="add-review-date" type="date" name="date" />
        </div>

        <div class="add-review-form-comment">
            <label class="add-review-comment-title">Comment</label>
            <textarea class="add-review-textarea" type="text" name="comment" rows="5" cols="50"></textarea>
        </div>

        <div class="add-review-create-button">
            <input class="review-create-button" type="submit" value="Create" />
        </div>

    </div>
</form>

<div class="blog-review">
    {{!-- REVIEW FIELD --}}
    <h1>Comments</h1>
    {{#each reviews}}

    {{date}}
    <br>
    {{comment}}
    <br>

    {{!-- {{blogId}} --}}


    {{/each}}
</div>