<div class="navbar">
    <div class='logo-container'>
        <a class='logo' href="/vendor"> Fairy's Wand</a>
    </div>
    {{!-- use icon for edit/single/add pages --}}
    <span class="material-icons">
        <a class='icons' href="/vendor">home</a>
    </span>
</div>
<div class='border-bottom'></div>

<div class="hero-image-vendor">
    <div class="hero-text">
        <div class="header">Find The Vendor For Your Next Event</div>
    </div>
</div>
<a href="/vendor/new">
    <button class='button'>Add Venue</button>
</a>

<div class="venue-list">
    {{#each allVendors}}
    <div class="venue-items">
        <img src="https://freestocks.org/fs/wp-content/uploads/2018/08/bread_display_at_the_saint_dominics_fair-1000x667.jpg"
            alt="">

        <a href="/vendor/{{_id}}">
            <div class="venue-titles">
                <div>Name</div>
                <div>{{name}}</div>
                <br>
        </a>

        <div>Category</div>
        <div>{{category}}</div>
        <br>

        <div>About</div>
        <div>
            <p>{{details}}</p>
        </div>
        <br>
        <a href="/vendor/{{_id}}">
            <button>View Vendor</button>
        </a>

    </div>
</div>

{{/each}}
</div>

{{!-- ALL VENDORS TEMPLATE WORKS --}}