<div class="navbar">
    <div class='logo-container'>
        <a class='logo' href="/vendor"> Fairy's Wand</a>
    </div>
    {{!-- use icon for edit/single/add pages --}}
    <span class="material-icons">
        <a class='icons' href="/vendor">home</a>
    </span>
</div>


<div class="button-container">
    <div class="img-container">
        <img class='venue-image' src="{{singleVendor.image}}" alt="venue image">
    </div>
    <a href="/vendor/{{singleVendor._id}}/edit">
        <div class='edit-delete-button'>
            <button class='button'>Edit Venue</button>
        </div>
    </a>
    <form action="/vendor/{{singleVendor._id}}?_method=DELETE" method="POST">
        <div class='edit-delete-button'>
            <input class='button' type="submit" value="Delete Venue" />
        </div>
    </form>
</div>


<div class="item-container">
    <div>{{singleVendor.name}}</div>
    <br>

    <div>Are they local?</div>
    <div>{{singleVendor.local}}</div>
    <br>

    <div>What Type of Business</div>
    <div>{{singleVendor.category}}</div>
    <br>

    <div>Email</div>
    <div>{{singleVendor.email}}</div>
    <br>

    <div>Phone Number</div>
    <div>{{singleVendor.phoneNumber}}</div>
    <br>

    <div>Vendor Details</div>
    <div>{{singleVendor.details}}</div>
    <br>

    <div>Website</div>
    <div>{{singleVendor.website}}</div>
    <br>
</div>





{{!-- EDIT BUTTON WORKS --}}
{{!-- DELETE BUTTON WORKS --}}
{{!-- WORKS --}}