<div class="navbar">
    <div class='logo-container'>
        <a class='logo' href="/vendor"> Fairy's Wand</a>
    </div>
    {{!-- use icon for edit/single/add pages --}}
    <span class="material-icons">
        <a class='icons' href="/vendor">home</a>
    </span>
</div>
{{!-- COMPLETED- WORKS --}}

<div class="button-container">
    <div class="img-container">
        <img class='venue-image' src="{{singleVendor.image}}" alt="vendor image">
    </div>
    {{!-- <a href="/vendor/{{singleVendor._id}}/edit"> --}}
        <div class='edit-delete-button'>
            <button class='myBtn' data-toggle="modal" data-target="#myModal">Edit Vendor</button>
        </div>
    {{!-- </a> --}}
    <form action="/vendor/{{singleVendor._id}}?_method=DELETE" method="POST">
        <div class='edit-delete-button'>
            <input class='button' type="submit" value="Delete Vendor" />
        </div>
    </form>
</div>
{{!-- COMPLETED-WORKS : Remember to remove edit button link once edit modal button completed--}}

<div class="item-container">
    <div class="name-item">
        <div>{{singleVendor.name}}</div>
    </div>
    <br>

    <div class="location-wrapper">
        <div>What Type of Business</div>
        <div>{{singleVendor.category}}</div>
        <br>
    </div>
    <div>Email</div>
    <div>{{singleVendor.email}}</div>
    <br>

    <div>Phone Number</div>
    <div>{{singleVendor.phoneNumber}}</div>
    <br>

    <div>Vendor Details</div>
    <div>{{singleVendor.details}}</div>
    <br>

    <div>Website</div>
    <div>{{singleVendor.website}}</div>
    <br>
</div>
{{!-- INCOMPLETE- NEEDS MORE STYLING --}}

{{!-- -------------------------------------------------------------------------------------------- --}}
{{!-- EDIT MODAL POPUP FORM --}}

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog sm-size">
        <div class="modal-content">

            <div class="modal-header">
                {{!-- modal navbar w/logo and home button --}}
                <div class="navbar">
                    <div class='logo'>
                        <a href="/venue"> Fairy's Paradise</a>
                    </div>
                    {{!-- use icon for edit/single/add pages --}}
                    <span class="material-icons">
                        <a href="/venue">home</a>
                    </span>
                </div>
                <div class='border-bottom'></div>
                {{!-- modal header --}}

                <div class="close-button-top">
                    <button type="button" class="close-btn-topOne" data-dismiss="modal">&times;</button>
                </div>
                <div class='vendor-header'>Edit Venue</div>
            </div>

            <div class="modal-body">
                <div class="form-container">
                    <div class="form-wrapper">
                        <form action="/vendor/{{singleVendor._id}}?_method=PUT" method="POST">

                            <div class="form-items">
                                <label>Business Name</label>
                                <input type="text" name="name" value="{{singleVendor.name}}" />
                            </div>

                            <div class="form-items">
                                <label>Are you local?</label>
                                <input type="text" name="local" value="{{singleVendor.local}}" />
                            </div>

                            <div class="form-items">
                                <label>What kind of Business?</label>
                                <input type="text" name="category" value="{{singleVendor.category}}" />
                            </div>

                            <div class="form-items">
                                <label>Email</label>
                                <input type="text" name="email" value="{{singleVendor.email}}" />
                            </div>

                            <div class="form-items">
                                <label>Phone Number</label>
                                <input type="text" name="phoneNumber" value="{{singleVendor.phoneNumber}}" />
                            </div>

                            <div class="form-items">
                                <label>Website</label>
                                <input type="text" name="website" value="{{singleVendor.website}}" />
                            </div>

                            <div class="form-items">
                                <label>Tell us about your busines:</label>
                                <textarea type="text" name="details">{{singleVendor.details}}</textarea>
                            </div>

                            <input class="create-button" type="submit" value="Save" />
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="close-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{!-- BUG: detail field does not stay pre-filled and if no input deletes previous text on submission --}}
{{!-- EDIT WORKS --}}












{{!-- EDIT BUTTON WORKS --}}
{{!-- DELETE BUTTON WORKS --}}
{{!-- WORKS --}}