<h1>Edit Venue</h1>

<a href="/venue">
  <button>Home</button>
</a>



<form action="/venue/{{singleVenue._id}}?_method=PUT" method="POST">
  <label>Venue</label>
  <input type="text" name="name" value="{{singleVenue.name}}" />

  <label>Location</label>
  <input type="text" name="location" value="{{singleVenue.location}}" />

  <label>How many square feet</label>
  <input type="number" name="squareFeet" value="{{singleVenue.squareFeet}}" />

  <label>Is parking space available</label>
  <input type="boolean" name="parkingAvailable" value="{{singleVenue.parkingAvailable}}" />

  <label>Price</label>
  <input type="number" name="price" value="{{singleVenue.price}}" />

  <label>About Space:</label>
  <textarea type="text" name="about" rows="7" cols="30">{{singleVenue.about}}</textarea>

  <label>Image URL</label>
  <input type="text" name="image" value="{{singleVenue.image}}" />

  <input type="submit" value="Save" />
</form>

{{!-- HOME BUTTON WORKS --}}
{{!-- EDIT WORKS --}}