<div class="navbar">
<div class='logo'>Logo</div>
<div class='home-button'>Home Page</div>
</div>

<img class='top-image' src="https://freestocks.org/fs/wp-content/uploads/2018/11/apartment_complex_by_the_lake_surrounded_by_forest-1000x667.jpg" alt="">

<div class="header">Find The Venues For Your Next Event</div>

<a href="/venue/new">
    <button class='button'>Add Venue</button>
</a>

<div class="venue-list">
{{#each allVenues}}
<div class="venue-items">
    <img src="https://styledstock.co/wp-content/uploads/2017/01/0115-600x401.jpg" alt="">
<a href="/venue/{{_id}}">
<div class="venue-titles">
    <div>{{name}}</div>
    <br>
    <div>{{location}}</div>
    <br>
</a>
    <div>Capacity</div>
    <div>{{squareFeet}}</div>
    <br>

    <div>Pricing</div>
    <div>{{price}}</div>

<br>

<div>Parking</div>
{{!-- need if/else statement here --}}
<div>{{parkingAvailable}}</div>
<br>

<div>About Space</div>
<div>
{{about}}
</div>
<br>
</div>
</div>


{{/each}}
</div>


{{!-- ADD VENUE BUTTON WORKS --}}
{{!-- ALL VENUES TEMPLATE WORKS --}}