<div class="navbar">
    <div class='logo-container'>
        <a class='logo' href="/venue"> Fairy's Wand</a>
    </div>
    {{!-- use icon for edit/single/add pages --}}
    <span class="material-icons">
        <a class='icons' href="/venue">home</a>
    </span>
</div>


<div class="button-container">
    <div class="img-container">
    <img class='venue-image' src="{{singleVenue.image}}" alt="">
</div>
    <a href="/venue/{{singleVenue._id}}/edit">
    <div class='edit-delete-button'>
        <button class='button'>Edit Venue</button>
        </div>
    </a>
    <form action="/venue/{{singleVenue._id}}?_method=DELETE" method="POST">
    <div class='edit-delete-button'>
        <input class='button' type="submit" value="Delete Venue" />
        </div>
    </form>
</div>

<div class="item-container">
    <div>{{singleVenue.name}}</div>

    <div>Location</div>
    <div>{{singleVenue.location}}</div>

    <div>Square Feet</div>
    <div>{{singleVenue.squareFeet}}</div>

    <div>Parking</div>
    <div>{{singleVenue.parkingAvailable}}</div>

    <div>Price</div>
    <div >$ {{singleVenue.price}}</div>

    <div>About Venue</div>
    <div>{{singleVenue.about}}</div>

</div>


{{!-- DELETE BUTTON WORKS --}}
{{!-- EDIT BUTTON WORKS --}}
{{!-- HOME BUTTON --}}
{{!-- WORKS --}}