<div class="navbar">
    <div class='logo-container'>
        <a class='logo' href="/venue"> Fairy's Wand</a>
    </div>
    {{!-- use icon for edit/single/add pages --}}
    <span class="material-icons">
        <a class='icons' href="/venue">home</a>
    </span>
</div>


<div class="button-container">
    <div class="img-container">
        <img class='venue-image' src="{{singleVenue.image}}" alt="">
    </div>
    <a href="/venue/{{singleVenue._id}}/edit">
        <div class='edit-delete-button'>
            <button class='button'>Edit Venue</button>
        </div>
    </a>
    <form action="/venue/{{singleVenue._id}}?_method=DELETE" method="POST">
        <div class='edit-delete-button'>
            <input class='button' type="submit" value="Delete Venue" />
        </div>
    </form>
</div>

<div class="item-container">
    <div class="name-item">
        <div>{{singleVenue.name}}</div>
    </div>

    <div class="location-wrapper">
        <div>
            <span class="material-icons">
                place
            </span>
        </div>
        <div class="location-item">{{singleVenue.location}}</div>
    </div>

    <div class="single-venue-container">
        <div class="single-sqft-header">
            <span class="material-icons">
                square_foot
            </span>
        </div>
        <div class="single-sqft-item">{{singleVenue.squareFeet}}</div>

        <div class="single-parking-header">
            <span class="material-icons">
                local_parking
            </span>
        </div>
        <div class="single-parking-item">{{singleVenue.parkingAvailable}}</div>

        <div class="single-price-header">Price:</div>
        <div class="single-price-item">${{singleVenue.price}}</div>
    </div>

    <div class="about-header">About Venue</div>
    <div class="about-text-area">{{singleVenue.about}}</div>


</div>


{{!-- DELETE BUTTON WORKS --}}
{{!-- EDIT BUTTON WORKS --}}
{{!-- HOME BUTTON --}}
{{!-- WORKS --}}